.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  min-height: 6vh;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

.nav--main a {
  text-decoration: none;
  padding-left: 16px;
  color: #5e5e5e;
}

.nav--list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.nav--item {
  padding: 1em;
  padding-top: 0;
  padding-bottom: 0;
}

.nav--item a, .list a, .main--subtitle a {
  text-decoration: none;
  color: #777777;
}

section {
  padding: 2rem;
  text-align: center;
}

.about {
  max-width: 70%;
  margin: auto;
}

.resume {
  max-width: 70%;
  margin: auto;
}

.websites {
  max-width: 70%;
  margin: auto;
}

.main h1 {
  margin-top: 50px;
  color: #4b4b4b;
}

.main--title {
  margin: 0;
  font-size: 35px;
}

.main--subtitle {
  color: #5e5e5e;
  margin-top: 5px;
}

p {
  color: #5e5e5e;
}

.paragraph {
  padding-top: 0;
  text-align: left;
}

.list--websites p {
  margin: 0 0 3px 0;
}

.list--websites a, a:visited {
  text-decoration: none;
  color: #5e5e5e;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #5e5e5e;
  min-height: 6vh;
}

.footer ul {
  padding-left: 3px;
  display: flex;
}

.footer li {
  list-style: none;
  padding: 0 3px;
}

.footer img {
  height: 20px;
}

a:hover {
  text-decoration: underline;
}

.nav--main a {
  text-decoration: none;
}